#main { margin-top:10px; }
.record-sighting .panel-body  { padding-left:0; padding-right:0;}
.record-sighting .panel { padding-left:0; padding-right:0;}
.record-sighting .panel-heading { padding-left:0; padding-right:0;}
