
<style type="text/css">
.navbar-inner a.brand  { color: #FFF; }
a { color: black; }
</style>
<script>
var BIE_VARS = { autocompleteUrl : 'http://species-ws.als.scot/auto'};
</script>

<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="::centralServer::">
            </a>
            <a class="brand" href="::centralServer::">
                  {{ orgNameLong }}
            </a>
            <div class="nav-collapse collapse">
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->